<div class="container">
    <h1>Update Case</h1>
    
    <div class="row p-4">
        <div class="col-md-10">
            <form action="/Admin/Cases/edit/{{CaseObj._id}}?newMethod=PUT" method="POST">

                <div class="form-group">
                    <label for="posting">Posting</label>
                    <input type="text" class="form-control" name="posting" id="posting" placeholder="Enter The Posting Area of crime" value="{{CaseObj.Posting}}" >
                </div>

                <div class="form-group">
                    <label for="latitudes">Latitudes</label>
                    <textarea class="form-control" id="lat" name="latitudes" required >{{CaseObj.Latitudes}}</textarea>
                
                    <label for="longitudes">Longitudes</label>
                    <textarea class="form-control" id="long" name="longitudes" required >{{CaseObj.Longitudes}}</textarea>
                                
                    <button type="button" onclick="showPosition();">Show Position</button>
                </div>

                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="number" min="1" max="31" class="form-control" id="date" name="date" placeholder="Enter The Date of crime" value={{CaseObj.Date}}>
                </div>

                <div class="form-group">
                    <label for="month">Month</label>
                    <input type="number" min="1" max="12" class="form-control" id="month" name="month" placeholder="Enter The Month of crime" value={{CaseObj.Month}} required>
                </div>

                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="number" min="2000" max="9999" class="form-control" id="year" name="year" placeholder="Enter The Year of crime" value={{CaseObj.Year}} required>
                </div>

                <div class="form-group">
                    <label for="day">Day</label>
                    <select name="day" id="day" class="form-control" required>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>                

                <div class="form-group">
                    <label for="time">Time</label>
                    <input type="time" class="form-control" id="time" name="time" placeholder="Enter The Time of crime" value={{CaseObj.Time}} required>
                </div>

                <div class="form-group">
                    <label for="offences">Offences</label>
                    <input type="String" class="form-control" id="offences" name="offences" placeholder="Enter The Offence of crime" value="{{CaseObj.Offences}}" required>
                </div>

                <div class="form-group">
                    <label for="offenceCategory">Offence Category</label>
                    <p class="card-text text-info"> Please Select offence category again. </p>
                    <select name="offenceCategory" id="offenceCategory" class="form-control"  required>
                        {{#select CaseObj.categories}}
                            {{#each categories}}
                                <option value="{{title}}">{{title}}</option>    
                            {{/each}}
                        {{/select}}                    
                    </select>
                </div>                

                <div class="form-group">
                    <label for="partOfTheDay">Part of the Day</label>
                    <input type="number" min="1" max="4" class="form-control" id="partOfTheDay" name="partOfTheDay" placeholder="Enter The part of the day" value={{CaseObj.PartOfTheDay}} required>
                </div>

                <button class="btn btn-outline-success btn-lg" type="submit">Update Case</button>
                 
                
            </form>
        </div>
    </div>
    
    
    
</div>