<div class="row" id="main_div_index" style="background-image: url(./security1.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed;">
    
    <div class="col-md-8">
            
        <div class="jumbotron" style="margin-top: 50px;">
            <img src="./logo.jpg" alt="logo" style="width: 30%; height: 10%; float:right;">
            <h1 class="display-3">CMAPS</h1>
            
            <p class="lead"><small>Crime Mapping Analysis and Prediction System</small></p>
            <p class="text-info">The Complete Security System</p>
        </div>
    </div>

<div class="row">
        <div class="col-md-10">
            <div class="card card-register mx-auto my-5">                        
                <form class="row" action="/predictionTwo" method="POST" autocomplete="off" style="padding: 10px;">

                    <div class="form-group-sm col-sm-12" style="margin-top: 5px;">
                        <label for="crime">Crime</label>
                        <select name="crime" id="crime" class="form-control" required>
                            <option value="{{queryObj.Crime}}">{{queryObj.Crime}}</option>
                        </select>
                    </div>
                                    
                    <div class="form-group-sm col-sm-6" style="margin-top: 5px;">
                        <label for="model">Model</label>
                        <select name="model" id="model" class="form-control" required>
                            <option value="{{queryObj.Model}}">{{queryObj.Model}}</option>
                        </select>
                    </div>                

                    <div class="col-md-12" style="margin-top: 5px;">
                        <button class="btn btn-outline-success btn-sm" id="submit" type="submit" style="margin-top: 5px;">
                            <i class="fa fa-database" aria-hidden="true">Create Case</i>
                        </button>            
                        <span>{{finalresponse}}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<!-- /.row -->
